<div class="card menu-bar-wrapper">
  <p-menubar
    #menuBar
    [model]="menuitems"
    class="custom-menubar header-menubar "
  >
    <ng-template pTemplate="start">
      <h3 class="brand-name">PREP QUIK</h3>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="card flex justify-content-center">
        <span class="text-lg font-semiboldx">Dark Mode</span>
        <p-inputSwitch
          [(ngModel)]="isDarkTheme"
          class="inputSwitch ml-2"
          (click)="onThemeChange( themeService.activeTheme ==='dark' ? 'light' : 'dark')"
        />
      </div>
    </ng-template>
  </p-menubar>
</div>
